## Please view the data and refer to the specific information.

In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
# load the famous iris data
irisRaw = load_iris()

#Convert data to Panda package
# read iris.data into a pandas DataFrame (df), including column names
iris = pd.DataFrame(data= np.c_[irisRaw['data'], irisRaw['target']],
                     columns= irisRaw['feature_names'] + ['target'])
iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

## Display the number of rows and columns.

In [2]:
iris.shape

(150, 5)

## View basic information for individual columns. Use the 'describe' and 'groupby' methods

In [3]:
iris.groupby('target').describe()

       sepal length (cm)                                              \
                   count   mean       std  min    25%  50%  75%  max
target
0.0                 50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
1.0                 50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
2.0                 50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

       sepal width (cm)         ... petal length (cm)      petal width (cm)  \
                  count   mean  ...               75%  max            count
target                          ...
0.0                50.0  3.428  ...             1.575  1.9             50.0
1.0                50.0  2.770  ...             4.600  5.1             50.0
2.0                50.0  2.974  ...             5.875  6.9             50.0


         mean       std  min  25%  50%  75%  max
target
0.0     0.246  0.105386  0.1  0.2  0.2  0.3  0.6
1.0     1.326  0.197753  1.0  1.2  1.3  1.5  1.8
2.0     2.026  0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

## Using the 'head' method please display the first 5 rows

In [4]:
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

## Using “dropna” check if the database contains missing data

In [5]:
iris.dropna(inplace=True)
iris.shape

(150, 5)

there is no na data, because shape doesn't change

## Sorting the dataset according to specific criteria is another important part of the pandas package. In order to sort by rows or columns, use the sort_values method, which returns a new, sorted object. Sort the data in ascending order relative to the second column. (Sorting by index Panda- sort_index())

In [6]:
iris.sort_values('sepal width (cm)') # Ascending is default type of sorting

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
60,5.0,2.0,3.5,1.0,1.0
62,6.0,2.2,4.0,1.0,1.0
119,6.0,2.2,5.0,1.5,2.0
68,6.2,2.2,4.5,1.5,1.0
41,4.5,2.3,1.3,0.3,0.0
...,...,...,...,...,...
16,5.4,3.9,1.3,0.4,0.0
14,5.8,4.0,1.2,0.2,0.0
32,5.2,4.1,1.5,0.1,0.0
33,5.5,4.2,1.4,0.2,0.0
15,5.7,4.4,1.5,0.4,0.0

## Find the minimum and maximum petal length (column 3 - petal length). Give the index of each of these values.

In [7]:
iris_max = iris['petal length (cm)'].max()
iris_max

6.9

In [8]:
iris_min = iris['petal length (cm)'].min()
iris_min

1.0

In [9]:
iris[iris['petal length (cm)'] == iris_min].index

Int64Index([22], dtype='int64')

In [10]:
iris[iris['petal length (cm)'] == iris_max].index

Int64Index([118], dtype='int64')

## Calculate the standard deviation for each column

In [11]:
iris.describe().loc['std']

sepal length (cm)    0.828066
sepal width (cm)     0.435866
petal length (cm)    1.765298
petal width (cm)     0.762238
target               0.819232
Name: std, dtype: float64

## Identify rows for which the length of the flower cup (sepal length) is greater than the average length (the whole set)

In [12]:
iris_average = iris['sepal length (cm)'].describe()['mean']
iris_average

5.843333333333334

In [13]:
iris[iris['sepal length (cm)'] > iris_average]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
50,7.0,3.2,4.7,1.4,1.0
51,6.4,3.2,4.5,1.5,1.0
52,6.9,3.1,4.9,1.5,1.0
54,6.5,2.8,4.6,1.5,1.0
56,6.3,3.3,4.7,1.6,1.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0